body {
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    color: white;
}

a {
  color: black;
}

a:hover {
  color: #333;
}

.offset-top-24 {
    margin-top: 24px;
}

.offset-top-48 {
    margin-top: 48px
}

.offset-top-96 {
    margin-top: 96px;
}

/***/

.black {
    color: black;
}

.white {
    color: white;
}

.no-left-spacing {
    margin-left: 0;
    padding-left: 0;
}

.no-right-spacing {
    margin-right: 0;
    padding-right: 0;
}


section > h1:first-child {
    margin-top: 0;
}

/* New button colors */

.vba-btn {
    background: #FF6E40;
    color: #FFF;
    box-shadow: 0px 2px 0 rgba(0, 0, 0, 0.2);
    height: 40px;
    line-height: 26px;
}

.vba-btn:hover {
    box-shadow: 0px 2px 0 rgba(0, 0, 0, 0.4);
    color: #EEE;
}

/** Top of the page **/

header {
    line-height: 0.85;
}

.vba-pre-title {
    font-size: 20px;
}

.vba-title {
    font-size: 30px;
    font-weight: bolder;
}

.vba-date {
    font-size: 16px;
}

/* Keynote speaker */
.keynote-speaker-image {
    width: 256px;
    height: 256px;
    border-radius: 128px;
    border: 2px solid rgba(255,255,255,0.64);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.32);

    display: block;
    float: left;
    margin-top: 8px;
    margin-bottom: 8px;
}

.keynote-speaker-bio {
    margin-left: calc(256px + 16px);
    min-height: 272px;

    display: flex;
    align-items: center;
}

@media(max-width: 720px) {
    body {
      padding: 8px;
    }
    .keynote-speaker-image {
        float: none !important;
        margin: 0 auto;
    }
    .keynote-speaker-bio {
        float: none;
        margin-left: 0;
        margin-top: 16px;
    }

    .student-sponsorship-buttons > a {
      display: inline-block;

      margin-top: 8px;
      margin-left: 0;
    }
}

@media(max-width: 480px) {
  .student-sponsorship-buttons > a {
    clear: both;
    float: left;
  }
}

@media (min-width: 480px) {
    .vba-pre-title {
        font-size: 20px;
    }
    .vba-title {
        font-size: 36px;
    }

    .vba-date {
        font-size: 18px;
    }

    .student-sponsorship-buttons > :not(:first-child) {
      margin-left: 8px;
    }
}
@media (min-width: 768px) {
    .vba-pre-title {
        font-size: 30px;
    }
    .vba-title {
        font-size: 46px;
    }

    .vba-date {
        font-size: 20px;
    }

    .sponsor-logo {
        max-width: 335px;
        max-height: 130px;
    }
}

/* Sponsor logos */
.spnsr-logo {
    display: block;
    opacity: 0.8;

    transition: all 0.5s ease;
}

.spnsr-logo:hover {
    opacity: 1;
}
